<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather API</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <flexbox>
        <b>
            <ul>
                Date specific temperature: http://127.0.0.1:5000/api/v1/station/date
            </ul>
    
            <ul>
                Year specific temperature: http://127.0.0.1:5000/api/v1/annual/station/year
            </ul>
    
            <ul>
                Station specific temperature: http://127.0.0.1:5000/api/v1/station
            </ul>
        </b>
    </flexbox>
     
    <flexbox>
        <div>

            <li>
                <e class="g">
                    Example for 1 specific day temperature: http://127.0.0.1:5000/api/v1/10/1998-10-12
                </e>
            </li>
            
            <li>
                <e class="g">
                    Example for annual temperature: http://127.0.0.1:5000/api/v1/annual/10/1998
                </e>
            </li>
            
            <li>
                <e class="g">
                    Example for station temperature of all timestamps: http://127.0.0.1:5000/api/v1/10
                </e>
            </li>
    
        </div>
    </flexbox>
    
    
    <div>
        <!-- 
            Here data is variable table sent from Home.py via home()
            "safe" is to display table else raw table with html tags will appear on webpage
        -->
        {{data|safe}}
    </div>
</body>
</html>